.accordionContent {
  background-image: linear-gradient(
    to right,
    rgb(255, 166, 2),
    rgb(245, 235, 235)
  );
  height: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0;
  display: flex;
  overflow: hidden;
  transition: all 600ms ease-in-out;
}
.accordionContent.show {
  height: 135px;
  opacity: 1;
}
