.App {
  font-family: 'Play', sans-serif;
}
.flex_block{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 767px) {
  .flex_block{
    display: block;
    justify-content: center;
  }
}